.is-active{
  background:$hover-menu;
  border-bottom: 3px solid $border-bottom;
  color:$border-bottom;

  @include breakpoint(mini){
    border-bottom: 1px solid #4accce;
  }
}

section#payment ul li:hover{
  span.title,.box a.buttom-base{
    background: $verde;
  }
}

/* Estado pagination */
.is-active-pagination{
  background: #485460!important;
  color: #fff!important;
}
