.is-active{
  background:$hover-menu;
  border-bottom: 3px solid $border-bottom;

  a{color:$verde;}

  @include breakpoint(mini){
    border-bottom: 1px solid rgb(223, 223, 223);
    background: rgb(241, 241, 241);
  }
}

section#payment ul li:hover{
  span.title,.box a.buttom-base{
    background: $verde;
  }
}

/* Estado pagination */
.is-active-pagination{
  background: #485460!important;
  color: #fff!important;
}

.is-box-left-expanded{
  @extend %box-left;
  margin-top: 91px;
}
