.box-result,
%box-result{
  width: 100%;
  margin-bottom: 78px;
}

.box1,.box2,%style-inline{
  display: inline-block;
  vertical-align: top;

}

.box1{
  color:$blanco;
  background: $verde;
  font-size: 1.6em;
  padding: 7px 17px;
  text-align: center;
  max-width: 36px;
  width: 5%;
}

.box2{
  margin-left: 3%;
  width: 88%;
}

.box2 h2{
  font-size: 2.4em;
  margin-top: 3px;
  color: $gray;
}

.box2 .content .box-img,.text{
  @extend %style-inline;
}

.box2 .content .box-img{
  width:39%;
  margin-top: 20px;

  img{
    display: block;
    max-width: 270px;
    width: 100%;
  }
}

.box2 .content .text,.text-block{
  width: 60%;
  font-size: 1.3em;
  margin-top: 18px;
  line-height: 24px;
  color:$gray;

  p{
    margin-bottom: 22px;
  }
}

.box2 .content a{
  color:$pink;
  margin-top: 6px;
  font-size: 1.1em;
  display: block;
  text-decoration: none;
}

.box2 .footer-result{
  padding: 11px 3px;
  border-top:1px solid rgb(235, 235, 235);
  border-bottom:1px solid rgb(235, 235, 235);
  margin-top: 20px;

  div{
    @extend %style-inline;
    font-size: 1.5em;
    color: $gray;
    vertical-align: middle;
  }

  .by{
    width: 37%;

    span{
      color:$pink;
      margin-right: 12%;
    }
  }

  .tags{
    width: 43%;
  }

  .share{
    width: 19%;

    a{
      @extend %style-inline;
      color:#dcdfe6;
      font-size: 1.7em;
      margin-right: 6%;
      vertical-align: middle;
      text-decoration: none;
    }
  }
}

/* Blog expandido */

#box-left-expanded{
  .box-result{
    .box2{

      .footer-result{
        margin-top: 12px;
        padding: 9px 3px;
      }

      .content{
        margin-top: 10px;

        .text-block{
          margin-top: 30px;
          display: block;
          width: 100%;
        }
      }

      h2.title-new{
        font-size: 2.5em;
        font-weight: 200;
        margin-top: 30px;
        line-height: 40px;
      }

      .margin{
        margin-top: 20px!important;
      }

      .box-img2{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 15px;

        img{
          max-width: none;
        }
      }

      .leyend{
        margin-top: 75px;

        span,p{
          @extend %style-inline;
          font-size: 1.8em;
          line-height: 24px;
          color: #4e525d;
          font-style: italic;
          width:95%;
          font-family: $other;
        }

        .icon{
          color: $gray;
          font-size: 2em;
          width:4%;
          font-family: 'icomoon';
        }

        p{
          display: block;
          text-align: right;
          font-family: $open;
          font-style: normal;
          font-size: 1.4em;
          margin-top: 15px;
        }
      }

      .widgets-2{
        border:1px solid #f1f1f1;
        padding: 45px 0 30px;
        z-index: -1;
        margin-top: 105px;
        position: relative;

        .share{
          background: $blanco;
          color: $gray;
          display: block;
          left: 50%;
          margin-left: -140px;
          padding: 0 10px;
          position: absolute;
          top: -20px;
          z-index: 1;
          font-size: 2.4em;
        }

        ul{
          list-style: none;
          text-align: center;

          li{
            @extend %style-inline;

            .reset{
              width: 140px!important;
            }
          }
        }

      }

      ul.post{
          list-style: none;
          text-align: center;
          margin-top:55px;

        li{
          @extend %style-inline;
          margin:0 14%;

          a{
            width: 50px;
            height: 50px;
            border-radius: 50px;
            color: #bababa;
            background: #f6fafb;
            font-size: 2.5em;
            text-align: center;
            line-height: 50px;
            @extend %style-inline;
            vertical-align: middle;
            margin:0 5px;
          }

          span{
            font-size: 2em;
            color: $gray;
            font-weight: 200;
            @extend %style-inline;
            vertical-align: middle;
          }
        }
      }

      #recent-post,#comments,#leave-comment{
        margin-top: 42px;

        h1{
          font-weight: 200;
        }
      }

      section#comments{
        margin-top: 39px;

        h1{
          margin-bottom: 35px;
        }

        .comment{
          padding-bottom: 28px;
          border-bottom: 1px solid #e9e9e9;
          margin-bottom:25px;

          .box-image{
              max-width: 100px;
              @extend %style-inline;
              vertical-align: middle;

            img{
              border-radius: 50px;
              display: block;
              width: 100%;
            }
          }

          .inline{
            @extend %style-inline;
            margin-left: 2%;
            vertical-align: middle;
            width: 84%;
            font-size: 1.5em;

            .fecha{
              display: inline-block;
              margin-bottom: 20px;
              color:$gray;
            }

            a{
              display: inline-block!important;
            }

            p{
              color:gray;
            }
          }
        }

        .comment2{
          padding-left: 15%;
          margin-top: 68px;

          .inline{
            width: 80%;
          }
        }
      }

    }
  }
}

#box-left-expanded .box-result .box2 section#leave-comment{
  .algo{
    margin-top: 20px;
  }

  form{
    margin-top: 15px;

    .box-input{
      @extend %style-inline;
      width: 49%;

      input{
        display: block;
        width: 84%;
        padding: 10px 20px;
        border:none;
        font-size: 1.5em;
        color:gray;
        border: 1px solid #ebebeb;
      }
    }

    .box-textarea{
      width: 96%;
      margin-top: 25px;
      margin-bottom: 45px;

      textarea{
        width: 95%;
        display: block;
        min-height: 195px;
        border:none;
        padding: 10px 20px;
        border:1px solid #ebebeb;
        font-size: 1.5em;
      }
    }
    .box-check{
      width: 75%;
    }

    .box-buttom{
      width: 24%;
    }

    .box-check,.box-buttom{
      @extend %style-inline;

      input,label{
        @extend %style-inline;
      }

      label{
        margin-left: 2%;
        font-size: 1.4em;
        color: gray;
      }

      a{
        text-align: center;
        color:$blanco;
        font-size: 1.5em;
        padding: 12px 37px;
      }

    }
  }
}
