section#box-left,%box-left{
  display: inline-block;
  margin-top: 75px;
  vertical-align: middle;
  width: 71%;
  margin-left: 2%;

  @include breakpoint(mini) {
    width: 98%;
    margin-left: 0;
    padding:0 1%;
  }
}
