section#contact{
  background:url('../../images/contact.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  text-align: center;
  font-family: $open;
  padding:0 135px 100px;
  overflow: hidden;

  @include breakpoint(midi){
    padding: 0 15px 150px;
  }

  @include breakpoint(micro){
    padding: 0 0 10px;
  }

  h1.titulo{
    color:$blanco;
    padding: 90px 0;
    font-weight: 400;
  }

  article.father{
    margin-top: 12px;
    overflow: hidden;

    .box50{
      float: right;
      text-align: left;
      width: 49.7%;
      color:$blanco;

      @include breakpoint(mini){
        width: 98%;
        margin-bottom:100px;
        text-align: center;
      }

      h2{
        font-size: 2.3em;
      }

      h3{
        margin-top: 5px;
        font-size: 1.5em;
        font-weight: 200;
        padding-right: 20%;

        @include breakpoint(mini){
          padding-right: 0;
        }
      }

      .box-input{
        width: 45%;
        float: left;
        margin: 0 2.5% 35px;

        @include breakpoint(micro){
          width: 90%;
        }

        input{
          border: none;
          padding: 10px;
          color: #4e525d;
          width: 97%;
          font-size: 1.7em;
          border-radius: 5px;
          display: block;
        }
      }

      textarea{
        width: 94%;
        height: 165px;
        border: none;
        padding: 10px;
        color: #4e525d;
        margin: 0 2.5% 27px;
        font-size: 1.7em;
        border-radius: 5px;
        display: block;

        @include breakpoint(micro){
          width: 87%;
        }
      }

      .box{
        position: relative;

        a{
          display: block;
          width: 136px;
          right: 0;
          font-size: 2.5em;
          text-align: center;
          padding: 9px 16px;
          float: right;

          @include breakpoint(micro){
            float:none;
            margin:0 auto;
          }
        }
      }
    }
  }
}

.widgets{
  margin-top: 39px;

  ul li{
    display: inline-block;
    margin: 0 0.5% 17px;

    a{
      font-size: 4em;
    }

    a.icon-facebook{
      color:#3b5997;
    }

    a.icon-twitter{
      color:#3ec2f3;
    }

    a.icon-google-plus{
      color:#e44c41;
    }
  }

  p{
    line-height: 23px;
    color:#c1ade0;
    font-size: 1.5em;
  }
}
