section#footer-blog,#footer-blog-expanded{
  border-top: 1px solid #e9e9e9;
  margin-top: 95px;
  padding-bottom: 50px;

  .is-blog-widgets{
    text-align: center;
    margin-top: 45px;
  }

  p{
    margin-top: 8px;
    text-align: center;
    font-size: 1.5em;
    color: #7c7c7c;
  }

}

#footer-blog-expanded{
  margin-top: 0px;
}
