section#recent-post{
  clear: both;
  margin-top: 50px;

  @include breakpoint(mini){
    text-align: center;
  }

  h1.title-blog{
    margin-bottom: 20px;
  }

  ul{
    list-style: none;
    font-size: 1.4em;

    li{
      color:$gray;
      margin-bottom:18px;
    }
  }
}
