section#tags{
  margin-top: 45px;

  @include breakpoint(mini){
    text-align: center;
  }

  h1.title-blog{
    margin-bottom: 20px;
  }

  ul{
    list-style: none;
    text-align: left;

    @include breakpoint(mini){
      text-align: center;
    }

    li{
      @extend %style-inline;
      background: #f8f9fb;
      border-radius: 5px;
      color:$gray;
      cursor: default;
      font-size: 1.4em;
      margin: 2px 3px;
      padding: 10px 15px;

      &:hover{
        background: $verde;
        color: $blanco;
      }
    }

  }
}
