section#contact{
  background:url('../../images/contact.jpg');
  text-align: center;
  font-family: $open;
  padding:0 135px 150px;

  h1.titulo{
    color:$blanco;
    padding: 90px 0;
    font-weight: 400;
  }

  article.father{
    margin-top: 12px;

    .box50{
      display: inline-block;
      text-align: left;
      vertical-align: top;
      width: 49.7%;
      color:$blanco;

      h2{
        font-size: 2.3em;
      }

      h3{
        margin-top: 5px;
        font-size: 1.5em;
        font-weight: 200;
        padding-right: 20%;
      }

      .widjets{
        margin-top: 39px;

        ul li{
          display: inline-block;
          margin: 0 0.5% 17px;

          a{
            font-size: 4em;
          }

          a.icon-facebook{
            color:#3b5997;
          }

          a.icon-twitter{
            color:#3ec2f3;
          }

          a.icon-google-plus{
            color:#e44c41;
          }
        }

        p{
          line-height: 23px;
          color:#c1ade0;
          font-size: 1.5em;
        }
      }

      .box-input{
        width: 45%;
        float: left;
        margin: 0 2.5% 35px;

        input{
          border: none;
          padding: 10px;
          color: #4e525d;
          width: 97%;
          font-size: 1.7em;
          border-radius: 5px;
          display: block;
        }
      }

      textarea{
        width: 94%;
        height: 165px;
        border: none;
        padding: 10px;
        color: #4e525d;
        margin: 0 2.5% 27px;
        font-size: 1.7em;
        border-radius: 5px;
        display: block;
      }

      .box{
        position: relative;

        a{
          display: block;
          width: 136px;
          position: absolute;
          right: 0;
          font-size: 2.5em;
          text-align: center;
          padding: 9px 16px;
        }
      }
    }
  }
}
