section#popular-post{
  margin-top: 40px;
  color:$gray;
  overflow: hidden;

  @include breakpoint(mini){
    text-align: center;
  }

  h1.title-blog{
    margin-bottom: 25px;
  }

  .box-image{
    width: 100%;

    img{
      display: block;
      max-width: 270px;
      width: 100%;

      @include breakpoint(mini){
        margin:0 auto;
      }
    }
  }

  .description{
    margin-top: 30px;
    font-size: 1.3em;

    p{
      line-height: 21px;
    }
  }

  .box-content{
    margin-top: 25px;

    span.fecha{
      float: left;
      font-size: 1.5em;

      @include breakpoint(mini){
        float:none;
      }
    }

    a{
      color: #a68fd7;
      font-size: 1.1em;
      text-decoration: none;
      text-align: right;
      color: #a68fd7;
      font-size: 1.5em;
      text-decoration: none;
      float: right;

      @include breakpoint(mini){
        margin: 0 30px;
        float:none;
      }
    }
  }
}
